<div class="row1">
  <div class="col-md-5">
    <div class="card purple">
      <div class="row">
        <div class="col-sm-3">
          <button><i class="bi bi-arrow-left"></i></button>
        </div>
        <div class="col-sm-9">
          <h2 class="contactus">Contact Us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button id="rotatebutton"><i class="bi bi-arrow-left"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="Chat-to-us montserrat-semi-bold-white-22px">Chat to us</p>
          <span>Our Friendly Team is here to help</span>
          <br />
          <p>Sales@rapscorp.com</p>
        </div>
      </div>
      <hr class="solid" />
      <div class="group-581">
        <div class="visit-usmontserrat-semi-bold-white-22px">Visit us</div>
        <p class="come-say-hello-at-our-officesmontserrat-normal-white-18px">
          Come say hello at our offices.
        </p>
        <div class="group-576">
            <img
            class="rectangle"
            src='/src/assets/imgcontactus/rectangle-305-2@2x.png'
            alt="Rectangle 306"
          />
          <p class="raps-consulting-incmontserrat-normal-white-18px">
            RAPS Consulting Inc. 505 Thornall Street, Suite# 202, Edison, NJ -
            08837
          </p>
        </div>
        <div class="group-577">
          <img
            class="rectangle"
            src="../contactus/img/rectangle-306-2.png"
            alt="Rectangle 306"
          />
          <p class="raps-consulting-inc-1montserrat-normal-white-18px">
            RAPS Consulting Inc. 48 Mulgrave, St. Brampton, ON L6P 3H3 Canada
          </p>
        </div>
        <div class="group-578">
          <img
            class="rectangle"
            src="rectangle-305-2.png"
            alt="Rectangle 305"
          />
          <p class="raps-consulting-inc-2montserrat-normal-white-18px">
            RAPS Consulting Inc. A-23, 3rd Floor, Sector - 16, Noida - 201301,
            India
          </p>
        </div>
      </div>
      <hr class="solid" />
      <div class="row last">
        <div class="col-sm-3">
          <div class="group-579">
            <div class="call-usmontserrat-semi-bold-white-22px">Call us</div>
            <div class="mon-fri-24x7montserrat-normal-white-18px">
              Mon - Fri 24x7
            </div>
            <div class="phonemontserrat-normal-white-18px">+1 609.454.8993</div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="group-807">
            <img
              class="rectangle"
              src="rectangle-305-2.png"
              alt="Rectangle 306"
            />
            <div class="phone-1montserrat-normal-white-18px">
              +91 995.809.1100
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="group-807">
            <img
              class="rectangle"
              src="rectangle-305-2.png"
              alt="Rectangle 306"
            />
            <div class="phone-1montserrat-normal-white-18px">
              +91 995.809.1100
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">

  </div>
  <div class="col-md-6">
    <div class="d-flex flex-column">
    <div class="row anim">
        <ng-lottie [options]="contactus" ></ng-lottie>
    </div>
    <div class="row para1">
        <p class="got-ideas-weve-got">
            <span class="span0">Got ideas?</span><span class="span1">&nbsp;</span
            ><span class="span2">We’ve got <br />the skills. Let’s team up.</span>
          </p>
          <p class="tell-us-more-about-ymontserrat-normal-dove-gray-18px">
            Tell us more about yourself and what you’ve got in mind.
          </p>
          
          
    </div>
    <div class="row">
        <div class="d-flex flex-column second">
        <input type="text" class="text-line" placeholder="FirstName"/>
        <input type="text" class="text-line" placeholder="LastName"/>
        <input type="text" class="text-line" placeholder="Email Address"/>
        <input type="text" class="text-line" placeholder="Phone"/>
        <input type="text" class="text-line" placeholder="Tell us little about the project"/>
        </div>
    </div>
    
        <div class="group-585">
            <div class="lets-get-started">Let’s get started !</div>
            
                <button id="rotatebutton2"><i class="bi bi-arrow-right"></i></button>
            
          </div>
          <div class="row images">
            <img src="./img/image-24@2x.png" alt="img"/>
                </div>
    
  </div>
  </div>
</div>
