
<div class="row main" [ngClass]="{'is-phone-portrait': isPhonePortrait}" >
  <div class="col-sm-5 col-md-6">
    <div class="card purple" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
      <div class="carditems">
      <div class="rowfirst">
        <div class="arrow">
          <button  class="contactusbutton" routerLink="/content"><i class="bi bi-arrow-left"></i></button>
        </div>
        <div class="contact">
          <h2 class="contactus" [ngClass]="{'is-phone-portrait': isPhonePortrait}">Contact Us</h2>
        </div>
      </div>
      <div class="row2">
        
       <img id="rot" src="assets/images/Contact Icon.png" alt="icon"/>
        
      </div>
      <div class="row">
        <div class="col-sm-12 d-flex flex-column chattous">
        <div class="Chat-to-us"><p class="montserrat-semi-bold-white-22px Chat-to-us">Chat to us</p></div>
        <span class="montserrat-normal-white-18px">Our Friendly Team is here to help</span>
        <div><p class="montserrat-normal-white-18px">Sales@rapscorp.com</p></div>
        </div>
      </div>
      <div><hr class="solid" /></div>
      <div class="row">
      <div class="col-sm-12 d-flex flex-column visitus">
        <div class="Chat-to-us"><p class="montserrat-semi-bold-white-22px">Visit us</p></div>
        <div><p class="comesayhello montserrat-normal-white-18px">
          Come say hello at our offices.
        </p></div>
        <div class="oneco">
            <img
            class="rectangle"
            src="assets/img/USA.png"
            alt="Rectangle 306"
          />
          <p class="rapsconsultinginc montserrat-normal-white-18px">
            RAPS Consulting Inc. 505 Thornall Street, Suite# 202, Edison, NJ -
            08837
          </p>
        </div>
        <div class="twoco">
          <img
            class="rectangle"
            src="assets/img/CANADA.png"
            alt="Rectangle 306"
          />
          <p class="raps-consulting-inc-1 montserrat-normal-white-18px">
            RAPS Consulting Inc. 48 Mulgrave, St. Brampton, ON L6P 3H3 Canada
          </p>
        </div>
        <div class="threeco">
          <img
            class="rectangle"
            src="assets/img/INDIA.png"
            alt="Rectangle 305"
          />
          <p class="raps-consulting-inc-2 montserrat-normal-white-18px">
            RAPS Consulting Inc. A-23, 3rd Floor, Sector - 16, Noida - 201301,
            India
          </p>
        </div>
      </div>
      </div>
      <div><hr class="solid" /></div>
      <div class="row last">
        <div class="col-sm-12 d-flex flex-column">
          <div class="Chat-to-us"><p class="montserrat-semi-bold-white-22px">Call Us</p></div>
          <div><p class="comesayhello montserrat-normal-white-18px">
           Mon-Fri 24*7
          </p></div>
          <div class="row line">
          <div style="display:inline-flex;gap: 2%;line-height: 2%;">
            <img
            class="rectangle"
            src="assets/img/USA.png"
            alt="Rectangle 305"
          />
            <div class="phone montserrat-normal-white-18px">+1 609.454.8993</div>
          </div>
          <div style="display:inline-flex;gap: 2%;line-height: 2%;">
            <img
            class="rectangle"
              src="assets/img/INDIA.png"
              alt="Rectangle 306"
          />
            <div class="phone montserrat-normal-white-18px">+91 995.809.1100</div>
          </div>
          <div style="display:inline-flex;gap: 2%;line-height: 2%;">
            <img
            class="rectangle"
              src="assets/img/CANADA.png"
              alt="Rectangle 306"
          />
            <div class="phone montserrat-normal-white-18px">+91 995.809.1100</div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
 
  <div class="col-sm-6 col-md-6" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
    
    <div class="row">
      
        <ng-lottie  [options]="contactus" [ngClass]="{'is-phone-portrait': isPhonePortrait}" ></ng-lottie>
     
    
    <div class="col-md-12 par1">
        <p class="got-ideas-weve-got">
            <span class="span0">Got ideas?</span><span class="span1">&nbsp;</span
            ><span class="span2">We’ve got <br />the skills. Let’s team up.</span>
          </p>
          <p class="tell-us montserrat-normal-dove-gray-18px">
            Tell us more about yourself and what you’ve got in mind.
          </p>
          
          
    </div>
    <div class="col-md-12 par2">
        <div class="d-flex flex-column second">
        <input type="text" class="text-line" placeholder="First Name"/>
        <input type="text" class="text-line" placeholder="Last Name"/>
        <input type="text" class="text-line" placeholder="Email Address"/>
        <input type="text" class="text-line" placeholder="Phone"/>
        <input type="text" class="text-line" placeholder="Tell us little about the project"/>
        </div>
    </div>
    
        <div class="col-md-12 par3">
            <div class="lets-get-started">Let’s get started !</div>
            
                <button id="rotatebutton2"><i class="bi bi-arrow-right"></i></button>
            
          </div>
          <div class="col-md-12 d-flex images">
            <div class="col-sm-4">
            <img src="assets/img/WBENC.png" alt="img"/>
          </div>
          <div class="col-sm-4">
            <img src="assets/img/image-24.png"  alt="img"/>
          </div>
          <div class="col-sm-4">
            <img src="assets/img/image-25.png" alt="img"/>
          </div>
                </div>
    
              </div>
  </div>
</div>
<app-footer></app-footer>