<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div  class="overlap-group">
    <img  style="width: 14vw;height: auto;" class="rectangle-305" src="assets/img/image-27.png" alt="Rectangle 305" />
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/content">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/aboutus">About us</a>
      <a class="nav-item nav-link" routerLink="/rapsteam">Raps Team</a>
      <a class="nav-item nav-link" routerlink="/rapsteam">Services</a>
      <a class="nav-item nav-link" href="#">Blog</a>
   
    <div  class="overlap-group">
      <img  style="width: 3vw;height: auto;" class="rectangle-305" src="assets/img/rectangle-305-12x.png" alt="Rectangle 305" />
    </div>
    <a class="nav-item nav-link contactus" href="#">contact us</a>
  </div>
  </div>
</nav>
