
<div class="navbar montserrat-normal-black-14px">
    <img class="image-27" src="assets/img/image-27@2x.png" alt="image 27" />
   
      <div class="navbar-link"><a href="#">Home</a></div>
      
   
    <div class="navbar-link-about-us"><button routerLink="/aboutus">About us</button></div>
    <div class="navbar-link-raps-team">Raps Team</div>
    <div class="navbar-link-services navbar-link">Services</div>
    <div class="navbar-link-social-responsibility">Social Responsibility</div>
    <div class="navbar-link-events navbar-link">Events</div>
    <div class="navbar-link-careers navbar-link">Careers</div>
    <div class="navbar-link-blog navbar-link">Blog</div>
    <div class="component-107">
      <div class="group-556">
        <div class="overlap-group">
          <img class="rectangle-305" src="assets/img/rectangle-305-1@2x.png" alt="Rectangle 305" />
        </div>
      </div>
    </div>
    <div class="overlap-group-1"><div class="contact-us">Contact Us</div></div>
  </div>