
<div class="navbar montserrat-normal-black-14px">
   <div style="width: 15%; height: 2%;"> <img class="image-27" style="width: 100%;height: auto;" src="assets/img/image-27.png" alt="image 27" /></div>
   
      <div class="navbar-link"><a routerLink="/content" >Home</a></div>
      
   
    <div class="navbar-link"><a routerLink="/aboutus">About Us</a>
    
    </div>
    
    <div class="navbar-link"><a routerLink="/rapsteam">Raps Team</a></div>
    <div class="navbar-link"><a routerLink="/services">Services</a>
     
    </div>
    
    <div class="navbar-link"><a href="">Social Responsibility</a></div>
    <div class="navbar-link"><a href="">Events</a></div>
    <div class="navbar-link"><a href="">Careers</a></div>
    <div class="navbar-link"><a href="">Blog</a></div>
    <div class="component-107">
      <div class="group-556">
        <div style="width: 66%;" class="overlap-group">
          <img  style="width: 100%;height: auto;" class="rectangle-305" src="assets/img/rectangle-305-12x.png" alt="Rectangle 305" />
        </div>
      </div>
    </div>
    <div class="navbar-link"><a routerLink="/contactus">Contact Us</a></div>
  </div>

  <script>

$(a).hover(
       function(){ $(this).addClass('i.fa.fa-circle') },
       function(){ $(this).removeClass('a') }
)
  </script>