@import url("https://fonts.googleapis.com/css?family=Montserrat:700,600,300,500,400|Rubik:300,400");

.raps-services{
    background-image: linear-gradient(to right,#6B9EE0,#B0D8F1);
    font-family: Montserrat !important;
    padding: 2vw 0 12vw 0;
}

.raps-services .raps-services-title{
    font-family: Montserrat;
    font-size: 4.6vw;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    margin:0 1.5vw;
}

.raps-services .arrew-down-next {
    border: 0.1vw solid;
    border-color: #fff;
    border-radius: 2.59vw;
    height: 5.14vw;
    width: 5.14vw;
    text-align: center;
    transform: rotate(-40deg);
    position: relative;
    display: grid;
    margin-left: 12vw;
    margin-bottom:3vw;
}

.raps-services .arrew-down-next span{
    font-family: Cascadia Code;;
    font-style: normal;
    font-weight: lighter;
    font-size: 3.4vw;
    color: #fff;
}

.raps-services .raps-services-card{
 margin: auto;
 outline:0.4vw solid #fff;
 border-radius: 3vw;
 padding: 3vw;
 background-color: #9dd3ff;
 display: grid;
 grid-template-columns: 100%;
 gap: 1vw;
}

.raps-services .raps-services-card .raps-services-card-title{
 color:#000;
 font-size: 2vw;
 font-weight: 500;
 font-style: normal;
}
.raps-services .raps-services-card .raps-services-card-text{
    color: #201f1fbf;
font-size: 1.11vw;
font-weight: 400;
font-style: normal;
 overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
width:89%;
}

.raps-services .raps-services-card .raps-services-card-lower{
  display: grid;
  grid-template-columns: 70% 30%;
  gap:4vw;
  margin-top: 2vw;
}
.raps-services .raps-services-card .raps-services-card-lower .know-more{
    display: table;
}
.raps-services .raps-services-card .raps-services-card-lower .know-more .title{
    color: #000;
    font-size: 1.6vw;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    width: 45%;
}
.raps-services .raps-services-card .raps-services-card-lower .know-more .arrew-button{
    background: transparent;
    border: 0.1vw solid;
    border-color: #000;
    border-radius: 50vw;
    height: 3.4vw;
    width: 3.4vw;
    text-align: center;
    transform: rotate(-40deg);
    font-family: Cascadia Code;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.1vw;
    color: #000;
    margin-top:1vw;
}
.raps-services .raps-services-card .raps-services-card-lower .services-icon{
    width: 50%;
}
.raps-services .raps-services-card .raps-services-card-lower .services-icon img{
    width: 100%;
    height: auto;
}

/* .raps-services .it-services{

}

.raps-services .staffing-services{

} */