@-webkit-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

button.rounded-pill {
  position: absolute;
  top: 10%;
  width: 71%;
  color: white;
  font-family: var(--font-family-montserrat);
}

.rounded-pill {
  border-radius: 50rem!important;
 
  height: 20%;
  background: #060f8f;
}

#firstbutton {
    background: transparent;
    border-radius: 26px;
    height: 251%;
    width: 4%;
}

.container-fluid {
    height: 100%;
    /* background: linear-gradient(#6d6dcf,lightblue); */
    display: flex;
    flex-direction: column;
    gap: 74px;
    position: fixed;
    background: linear-gradient(130deg,#78c2f3,rgb(108, 178, 249),rgb(116, 179, 243),rgb(113, 204, 235));
    background-size: 600% 600%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;


  }

  .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    
}

.know-more {
  background-color: transparent;
  height: auto;
  left: 60px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 295px;
  width: auto;
}

.lorem-ipsum-dolor-si {
  background-color: transparent;
  height: auto;
  left: 60px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 126px;
  width: 563px;
}
.itservices{
  background-color: transparent;
  height: auto;
  left: 60px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.row{
    gap:3px;
    height: 100%;
    
}
.row3 {
    height: 54%;
    display: flex;
    gap: 7%;
    margin-left: 3%;
}
button.button2{
  position: absolute;
  left: 21%;
  top: 24%;
  border-radius: 53px;
  height: 10%;
  width: 5%;
  background: transparent;
  transform: rotate(45deg);
  border: 2px solid white;
}
.button2:hover{
  transform: rotate(0deg);
}
.button3{
  position: absolute;
  left: 32%;
  top: 68%;
  border-radius: 53px;
  height: 14%;
  width: 8%;
  background: transparent;
  transform: rotate(-45deg);
  border: 2px solid black;
}

button.button1 {
  position: absolute;
  top: 38%;
  left: 65%;
  border-radius: 38px;
  height: 18%;
  width: 35%;
  border: 2px solid white;
  background: transparent;
  
}
ng-lottie.star{
position: absolute;
right: 2px;
}
.row1{
    height: 31%;
    width: 100%;
    display: flex;
}

.card2 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 49px;
    width: 40%;
    height: 82%;
    left: 7%;
    background: rgba(156, 210, 255, 1);
    border: 8px solid white;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 49px;
    width: 40%;
    height: 82%;
    left: 3%;
    background: rgba(156, 210, 255, 1);
    border: 8px solid white;
}
h1.title{
  color: var(--white);
    font-family: var(--font-family-montserrat-medium --white-32);
    font-size: 87px;
    font-weight: 400;
    left: 4.01vw;
    letter-spacing: 1px;
    line-height: 80px;
    top: 5.1vw;
    position: absolute;
    width: 100%;
}
/* Variables */

:root {
    --black-2: rgba(0, 0, 0, 0.161);
    --black-22: rgba(0, 0, 0, 0.2);
    --black: rgba(0, 0, 0, 1);
    --absolute-zero-2: rgba(3, 87, 194, 0.2);
    --absolute-zero: rgba(3, 87, 194, 1);
    --cosmic-cobalt: rgba(46, 63, 142, 1);
    --picton-blue: rgba(62, 217, 240, 1);
    --royal-blue: rgba(76, 102, 223, 1);
    --chicago: rgba(92, 92, 92, 1);
    --dove-gray: rgba(110, 110, 110, 1);
    --suva-gray: rgba(136, 136, 136, 1);
    --anakiwa-3: rgba(151, 249, 249, 0.2);
    --anakiwa-2: rgba(151, 249, 249, 1);
    --anakiwa: rgba(156, 210, 255, 1);
    --winter-wizard-2: rgba(159, 209, 254, 0.2);
    --winter-wizard: rgba(159, 209, 254, 1);
    --perano: rgba(165, 196, 236, 1);
    --perano-2: rgba(165, 197, 237, 1);
    --pink-swan: rgba(183, 183, 183, 1);
    --periwinkle: rgba(191, 202, 255, 1);
    --melrose-2: rgba(193, 190, 252, 0.2);
    --melrose: rgba(193, 190, 252, 1);
    --mauve-2: rgba(212, 163, 253, 0.2);
    --mauve: rgba(212, 163, 253, 1);
    --mabel: rgba(217, 237, 255, 1);
    --titan-white: rgba(237, 240, 255, 1);
    --wild-sand: rgba(243, 243, 243, 1);
    --white-42: rgba(255, 255, 255, 0.102);
    --white-32: rgba(255, 255, 255, 0.2);
    --white-22: rgba(255, 255, 255, 0.6);
    --white: rgba(255, 255, 255, 1);
  
    --font-size-xs: 14px;
    --font-size-s: 16.4px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-xl: 51px;
    --font-size-xxl: 28px;
    --font-size-xxl: 56px;
    --font-size-xxxl: 48px;
    --font-size-xxxl: 64px;
    --font-size-xxxxl: 88px;
    --font-size-xl3: 22px;
    --font-size-xl2: 24px;
  
    --font-family-kameron: "Kameron";
    --font-family-lato: "Lato";
    --font-family-maven_pro: "Maven Pro";
    --font-family-maven_pro-bold: "Maven Pro-Bold";
    --font-family-maven_pro-regular: "Maven Pro-Regular";
    --font-family-montserrat: "Montserrat";
    --font-family-montserrat-bold: "Montserrat-Bold";
    --font-family-montserrat-light: "Montserrat-Light";
    --font-family-montserrat-medium: "Montserrat-Medium";
    --font-family-montserrat-regular: "Montserrat-Regular";
    --font-family-montserrat-semibold: "Montserrat-SemiBold";
    --font-family-poppins: "Poppins";
    --font-family-rubik: "Rubik";
    --font-family-rubik-light: "Rubik-Light";
    --font-family-rubik-regular: "Rubik-Regular";
  }
  
  /* Classes */
  
  .montserrat-medium-white-64px-2 {
    color: var(--white);
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-absolute-zero-13-4px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat-medium);
    font-size: 13.404255867004395px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-regular-normal-white-12px-2 {
    color: var(--white);
    font-family: var(--font-family-montserrat-regular);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-normal-dove-gray-18px {
    color: var(--dove-gray);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-normal-white-12px {
    font-family: var(--font-family-montserrat);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-regular-normal-black-20px {
    color: var(--black);
    font-family: var(--font-family-montserrat-regular);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-picton-blue-18px {
    color: var(--picton-blue);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-light-black-16px {
    color: var(--black);
    font-family: var(--font-family-montserrat-light);
    font-size: var(--font-size-s);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-semi-bold-white-51px {
    color: var(--white);
    font-family: var(--font-family-montserrat-semibold);
    font-size: 51px;
    font-weight: 600;
    font-style: normal;
  }
  .lato-normal-white-25px {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-white-51px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 51px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-picton-blue-34px {
    color: var(--picton-blue);
    font-family: var(--font-family-montserrat);
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-white-12-6px {
    color: var(--white);
    font-family: var(--font-family-montserrat-medium);
    font-size: 12.560553550720215px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-normal-white-12px-2 {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-white-18px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-white-34px {
    color: var(--white);
    font-family: var(--font-family-montserrat-medium);
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-white-34px-2 {
    font-family: var(--font-family-montserrat-medium);
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-white-16-5px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 16.5px;
    font-weight: 500;
    font-style: normal;
  }
  .rubik-light-black-18px {
    color: var(--black);
    font-family: var(--font-family-rubik-light);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-normal-white-10-4px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 10.425532341003418px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-regular-normal-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat-regular);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-light-black-16px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-medium-white-34px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-white-34px-2 {
    font-family: var(--font-family-montserrat);
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-semi-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
  }
  .montserrat-normal-picton-blue-12px {
    color: var(--picton-blue);
    font-family: var(--font-family-montserrat);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-normal-suva-gray-16-4px {
    color: var(--suva-gray);
    font-family: var(--font-family-montserrat);
    font-size: 16.382980346679688px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-regular-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-montserrat-regular);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-normal-black-36px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-black-28px {
    color: var(--black);
    font-family: var(--font-family-montserrat-medium);
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
  }
  .lato-normal-chicago-16px {
    color: var(--chicago);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-semi-bold-absolute-zero-36px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat-semibold);
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
  }
  .montserrat-medium-white-16-5px {
    color: var(--white);
    font-family: var(--font-family-montserrat-medium);
    font-size: 16.5px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-semi-bold-white-22px {
    color: var(--white);
    font-family: var(--font-family-montserrat-semibold);
    font-size: var(--font-size-xl3);
    font-weight: 600;
    font-style: normal;
  }
  .montserrat-medium-white-51px {
    color: var(--white);
    font-family: var(--font-family-montserrat-medium);
    font-size: 51px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-white-24px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl2);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-normal-white-56px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-regular-normal-picton-blue-12px {
    color: var(--picton-blue);
    font-family: var(--font-family-montserrat-regular);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-absolute-zero-18px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-light-white-51px {
    color: var(--white);
    font-family: var(--font-family-montserrat-light);
    font-size: 51px;
    font-weight: 300;
    font-style: normal;
  }
  .lato-medium-black-14px {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-white-20px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-absolute-zero-14px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
  }
  .lato-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-medium-black-64px {
    color: var(--black);
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-semi-bold-white-56px {
    color: var(--white);
    font-family: var(--font-family-montserrat-semibold);
    font-size: 56px;
    font-weight: 600;
    font-style: normal;
  }
  .rubik-regular-normal-white-65px {
    font-family: var(--font-family-rubik-regular);
    font-size: 64.9534912109375px;
    font-weight: 400;
    font-style: normal;
  }
  .kameron-normal-periwinkle-14px {
    color: var(--periwinkle);
    font-family: var(--font-family-kameron);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-black-26px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-normal-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-regular-normal-black-18px {
    color: var(--black);
    font-family: var(--font-family-montserrat-regular);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .rubik-regular-normal-black-65px {
    color: var(--black);
    font-family: var(--font-family-rubik-regular);
    font-size: 64.9534912109375px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-picton-blue-18px {
    color: var(--picton-blue);
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-perano-13-4px {
    color: var(--perano-2);
    font-family: var(--font-family-montserrat-medium);
    font-size: 13.404255867004395px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-black-26px {
    color: var(--black);
    font-family: var(--font-family-montserrat-medium);
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-white-22px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-regular-normal-black-24px {
    color: var(--black);
    font-family: var(--font-family-montserrat-regular);
    font-size: var(--font-size-xl2);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-normal-black-18px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .rubik-light-black-18px {
    color: var(--black);
    font-family: var(--font-family-rubik);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-regular-normal-white-18px {
    color: var(--white);
    font-family: var(--font-family-montserrat-regular);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-white-88px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxxl);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-white-64px {
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-light-white-28px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-semi-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-montserrat-semibold);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
  }
  .rubik-normal-black-65px {
    color: var(--black);
    font-family: var(--font-family-rubik);
    font-size: 64.9534912109375px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-normal-absolute-zero-18px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-picton-blue-34px {
    color: var(--picton-blue);
    font-family: var(--font-family-montserrat-medium);
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-semi-bold-absolute-zero-24px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat-semibold);
    font-size: var(--font-size-xl2);
    font-weight: 600;
    font-style: normal;
  }
  .montserrat-medium-black-64px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-white-18px {
    color: var(--white);
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .lato-normal-white-14px {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-regular-normal-suva-gray-16-4px {
    color: var(--suva-gray);
    font-family: var(--font-family-montserrat-regular);
    font-size: 16.382980346679688px;
    font-weight: 400;
    font-style: normal;
  }
  .lato-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-normal-black-24px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl2);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-light-white-56px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-light-white-20px {
    color: var(--white);
    font-family: var(--font-family-montserrat-light);
    font-size: var(--font-size-l);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-light-white-20px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-medium-black-20px {
    color: var(--black);
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-l);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-semi-bold-absolute-zero-36px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat);
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
  }
  .lato-normal-black-10px {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-absolute-zero-64px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-white-20px {
    color: var(--white);
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-l);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-absolute-zero-18px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-black-38px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: 38px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-semi-bold-white-51px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 51px;
    font-weight: 600;
    font-style: normal;
  }
  .montserrat-medium-white-22px {
    color: var(--white);
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-xl3);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-regular-normal-white-10-4px {
    color: var(--white);
    font-family: var(--font-family-montserrat-regular);
    font-size: 10.425532341003418px;
    font-weight: 400;
    font-style: normal;
  }
  .lato-bold-black-24px {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl2);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-semi-bold-white-22px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl3);
    font-weight: 600;
    font-style: normal;
  }
  .montserrat-semi-bold-absolute-zero-24px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl2);
    font-weight: 600;
    font-style: normal;
  }
  .montserrat-normal-black-22px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl3);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-white-64px {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-normal-white-18px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-regular-normal-white-56px {
    color: var(--white);
    font-family: var(--font-family-montserrat-regular);
    font-size: 56px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-regular-normal-white-12px {
    font-family: var(--font-family-montserrat-regular);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .rubik-normal-white-65px {
    font-family: var(--font-family-rubik);
    font-size: 64.9534912109375px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-light-picton-blue-20px {
    color: var(--picton-blue);
    font-family: var(--font-family-montserrat-light);
    font-size: var(--font-size-l);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-regular-normal-absolute-zero-18px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat-regular);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium-absolute-zero-64px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-white-64px-2 {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-absolute-zero-13-4px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat);
    font-size: 13.404255867004395px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-montserrat-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-light-white-56px {
    color: var(--white);
    font-family: var(--font-family-montserrat-light);
    font-size: 56px;
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-medium-perano-13-4px {
    color: var(--perano-2);
    font-family: var(--font-family-montserrat);
    font-size: 13.404255867004395px;
    font-weight: 500;
    font-style: normal;
  }
  .lato-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-normal-black-20px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-light-white-51px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 51px;
    font-weight: 300;
    font-style: normal;
  }
  .lato-medium-pink-swan-16px {
    color: var(--pink-swan);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-s);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-absolute-zero-14px {
    color: var(--absolute-zero);
    font-family: var(--font-family-montserrat-medium);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-medium-black-28px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-semi-bold-white-56px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-weight: 600;
    font-style: normal;
  }
  .montserrat-light-picton-blue-20px {
    color: var(--picton-blue);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-medium-white-12-6px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 12.560553550720215px;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-regular-normal-black-36px {
    color: var(--black);
    font-family: var(--font-family-montserrat-regular);
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-light-white-28px {
    color: var(--white);
    font-family: var(--font-family-montserrat-light);
    font-size: var(--font-size-xxl);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-medium-black-20px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 500;
    font-style: normal;
  }
  