<div class="container-fluid raps-services">
  <div class="row">
      <div class="col-sm-12 p-4">
          <div class="raps-services-title">
              <span>What Services we provide</span>
          </div>
          <div class="arrew-down-next"><span>&darr;</span></div>
          <div class="row">
              <div class="col-sm-5 my-4 col-md-5 raps-services-card it-services">
                  <div class="raps-services-card-title">IT Services</div>
                  <div class="raps-services-card-text">
                      <p>
                          It is you, who dictates what you intend to do and achieve for the business. To help reduce the cost without compromising managerial efficiency, you need to have a progressive mindset. At RAPS Consulting, our core objective is to ease your secondary work burden so that it doesn’t disrupt your primary organizational goals. 
                      </p>
                  </div>
                  <div class="raps-services-card-lower">
                      <div class="know-more">
                          <span class="title">Know-more</span>
                          <button class="arrew-button"><span>&rarr;</span></button>
                      </div>
                  <div class="services-icon">
                      <img src="assets/ServicesIcons/ITServices.png"/>
                  </div>
                  </div>
              </div>
              <div class="col-sm-5 my-4 col-md-5 raps-services-card staffing-services">
                  <div class="raps-services-card-title">Staffing Services</div>
                  <div class="raps-services-card-text">
                      <p>
                          Powerhouse businesses require the right staffing solutions that they remain well ahead of the competitors in terms of delivering the project on time. At RAPS, we cut down on the friction when it comes to hiring the right staff with a 98.99% retention rate. Allegiance to the technological gateway that we use to assess staff behavior based on track records that aid in channeling your business to pursue its unhindered growth journey. 
                      </p>
                  </div>
                  <div class="raps-services-card-lower">
                      <div class="know-more">
                          <span class="title">Know-more</span>
                          <button class="arrew-button"><span>&rarr;</span></button>
                      </div>
                      <div class="services-icon">
                          <img src="assets/ServicesIcons/StaffingServices.png"/>
                      </div> 
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>