<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rapscorp-aboutus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid about-us">
        <div class="row">
            <div class="col-sm-12 my-4 aboutUs-top text-center">
                <div class="about-title">We are RAPS</div>
                <div class="arrew-down-next arrew-down-next-center">&darr;</div>
                <p class="aboutUs-text">
                    <span class="aboutUs-text-title">RAPS Consulting Inc </span>is an aggressive, client centric, professional and cost-effective solution to any contract and / or permanent staffing needs. Our 35
                      years of professional experience is the backbone in running a highly motivated and rewarding organization, where we partner with
                      organizations to understand their on-going staffing challenges and deliver the right resource for the right job and the right cost.
                      <br /><br />We pride ourselves in quality over quantity, and speed over excuses.<br/>
                      <span class="aboutUs-text-title">RAPS</span>
                      <span class="">works closely with some of its clients globally in supporting their needs across continents.</span>
                  </p>
                  
            </div>
            <div class="col-sm-12 my-4 aboutUs-timeline text-center">
                <div class="about-title">We have a story to <br/> tell you</div>
                <div class="aboutUs-timeline-top">
                      <p class="aboutUs-timeline-top-text">How it all started 30 years back</p>
                </div>
                <div class="aboutUs-timeline-group">
                            <div class="aboutUs-timeline-group-box aboutUs-timeline-group-box0">
                                <p class="aboutUs-timeline-group-text">It all started back in 1998</p>
                            </div>
                            <div class="aboutUs-timeline-group-box aboutUs-timeline-group-box1">
                                <p class="aboutUs-timeline-group-text">It all started back in 1998&amp; now<br>where we are at the moment</p>
                            </div>
                            <div class="aboutUs-timeline-group-box aboutUs-timeline-group-box2">
                                <p class="aboutUs-timeline-group-text">It all started back in 1998&amp; now<br>where we are at the moment</p>
                            </div>
                            <div class="aboutUs-timeline-group-box aboutUs-timeline-group-box3">
                                <p class="aboutUs-timeline-group-text">It all started back in 1998&amp; now<br>where we are at the moment</p>
                            </div>
                            <div class="aboutUs-timeline-group-box aboutUs-timeline-group-box4">
                                <p class="aboutUs-timeline-group-text">It all started back in 1998&amp; now<br>where we are at the moment</p>
                            </div>
                            <div class="aboutUs-timeline-group-box aboutUs-timeline-group-box5">
                                <p class="aboutUs-timeline-group-text">It all started back in 1998&amp; now<br>where we are at the moment</p>
                            </div>
                            <div class="timeline-lines"></div>
                            <div class="anime-group anime-group-top">
                                <div class="anime-group1"></div>
                                <div class="anime-group2"></div>
                                <div class="anime-group3"></div>
                              </div>
                            <div class="anime-group anime-group-middle">
                                <div class="anime-group1"></div>
                                <div class="anime-group2"></div>
                                <div class="anime-group3"></div>
                              </div>
                            <div class="anime-group anime-group-bottom">
                                <div class="anime-group1"></div>
                                <div class="anime-group2"></div>
                                <div class="anime-group3"></div>
                              </div>
                            <div class="anime-group anime-group-bottom0">
                                <div class="anime-group1"></div>
                                <div class="anime-group2"></div>
                                <div class="anime-group3"></div>
                              </div>
                            
                </div>
            </div>
            <div id="abc" class="col-sm-12 my-4 aboutUs-timeline-count d-flex">
              <div class="count-box">
                <div class="number-count">
                  <span id="years-in-business" class="num">7</span>
                  <span class="add">+</span>
                </div>
                <div class="number-title">Years in Business</div>
              </div>
              <div class="count-box">
                <div class="number-count">
                  <span id="clients" class="num">30</span>
                  <span class="add">+</span>
                </div>
                <div class="number-title">Clients</div>
              </div>
              <div class="count-box">
                <div class="number-count">
                  <span id="projects" class="num">100</span>
                  <span class="add">+</span>
                </div>
                <div class="number-title">Projects</div>
              </div>
              <div class="happy-customers count-box">
                <div class="number-count">
                  <span class="num">30</span>
                  <span class="add">+</span>
                </div>
                <div class="number-title">Happy Customers</div>
              </div>
              <script>
                this.onscroll = function() {load(); }
              </script>
            </div>
            <div class="col-sm-12 my-4 aboutUs-growth">
                <div class="about-title">Our Growth</div>
                <div class="arrew-down-next arrew-down-next-90deg">&darr;</div>
                <div class="float-left">
                <p class="aboutUs-growth-text">
                    RAPS is "<span class="span1-JrhRGX">Change</span> and<span class="span3-JrhRGX">Relationship</span>," with and for our customers &amp; staff.
                </p>
                <p class="we-are-one-of-the-na-C61RwL">
                    <span class="span0-zebdQE montserrat-regular-normal-black-18px">We are one of the nation's fastest-growing corporations with offices in the </span><span class="span1-zebdQE montserrat-regular-normal-absolute-zero-18px">United States</span><span class="span2-zebdQE montserrat-regular-normal-black-18px">, </span><span class="span3-zebdQE montserrat-regular-normal-absolute-zero-18px">Canada</span><span class="span4-zebdQE montserrat-regular-normal-black-18px"> and </span><span class="span5-zebdQE montserrat-regular-normal-absolute-zero-18px">India</span><span class="span6-zebdQE montserrat-regular-normal-black-18px">.<br>RAPS has been formed in the past three decades by professionals who have worked in the sector,
                      helping us to grasp not only technology but also the issues our customers confront today in the IT
                      environment. We are sufficiently patient to listen and excited to provide. In both commercial and state
                      sectors, we have been able to create businesses in the IT and Non-IT industries.</span>
                </p>
              </div>
                <div class="map-mask">
                  <img class="map-mask-img" src="assets/images/mask-group.png">
                  <div class="map-pin0">
                    <div class="ellipse-30-K3gHy8 ellipse-30"></div>
                    <div class="ellipse-31-K3gHy8 ellipse-31"></div>
                    <div class="ellipse-32-K3gHy8 ellipse-32"></div>
                  </div>
                  <div class="map-pin1">
                    <div class="ellipse-30-H4q2AC ellipse-30"></div>
                    <div class="ellipse-31-H4q2AC ellipse-31"></div>
                    <div class="ellipse-32-H4q2AC ellipse-32"></div>
                  </div>
                  <div class="map-pin2">
                    <div class="ellipse-30-ahwexR ellipse-30"></div>
                    <div class="ellipse-31-ahwexR ellipse-31"></div>
                    <div class="ellipse-32-ahwexR ellipse-32"></div>
                  </div>
              </div>
            </div>
            <div class="col-sm-12 my-4 aboutUs-values">
                <div class="about-title">Our Values</div>
                <div class="arrew-down-next arrew-down-next-90deg">&darr;</div>
                <div class="ellipse-127-C61RwL"></div>
                <div class="ellipse-128-C61RwL"></div>
                <div class="aboutUs-values-section">
                  <div class="aboutUs-values-body">
                    <div class="aboutUs-values-body-title">
                      Committed</div>
                    <div class="aboutUs-values-body-text">                      
                      We are among the best staffing and recruiting companies. Our staffing and recruitment.
                      </div>
                  </div>
                  <div class="aboutUs-values-body">
                    <div class="aboutUs-values-body-title">
                      Attentive</div>
                    <div class="aboutUs-values-body-text">
                      We are among the best staffing and recruiting companies. Our staffing and recruitment.
                      </div>
                  </div>
                  <div class="aboutUs-values-body">
                    <div class="aboutUs-values-body-title">
                      Optimistic</div>
                    <div class="aboutUs-values-body-text">
                    We are among the best staffing and recruiting companies. Our staffing and recruitment.
                      </div>
                  </div>
                </div>
                <div class="aboutUs-values-section aboutUs-values-section2">
                  <div class="aboutUs-values-body">
                    <div class="aboutUs-values-body-title">
                      Committed</div>
                    <div class="aboutUs-values-body-text">                      
                      We are among the best staffing and recruiting companies. Our staffing and recruitment.
                      </div>
                  </div>
                  <div class="aboutUs-values-body">
                    <div class="aboutUs-values-body-title">
                      Optimistic</div>
                    <div class="aboutUs-values-body-text">
                    We are among the best staffing and recruiting companies. Our staffing and recruitment.
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 my-4 aboutUs-clients">
                <div class="about-title">Our Clients</div>
                <div class="arrew-down-next arrew-down-next-90deg">&darr;</div>
                <div class="aboutUs-clients-section">
                  <div class="aboutUs-clients-body">
                    <img src="assets/images/image-29-1@2x.png" alt="image 29">
                  </div>
                  <div class="aboutUs-clients-body">
                    <img src="assets/images/image-29-2@2x.png" alt="image 29">
                  </div>
                  <div class="aboutUs-clients-body">
                    <img src="assets/images/wipro.png" alt="image 29">
                  </div>
                  <div class="aboutUs-clients-body">
                    <img src="assets/images/image-29-3@2x.png" alt="image 29">
                  </div>
                  <div class="aboutUs-clients-body">
                    <img src="assets/images/image-29-4@2x.png" alt="image 29">
                  </div>
                  <div class="aboutUs-clients-body">
                    <img src="assets/images/image-29-6@2x.png" alt="image 29">
                  </div>
                  <div class="aboutUs-clients-body">
                    <img src="assets/images/image-29-7@2x.png" alt="image 29">
                  </div>
                  <div class="aboutUs-clients-body">
                    <img src="assets/images/image-29-8@2x.png" alt="image 29">
                  </div>
                  <div class="aboutUs-clients-body">
                    <img src="assets/images/image-29-9@2x.png"alt="image 29">
                  </div>
                  <div class="aboutUs-clients-body">
                    <img src="assets/images/image-29@2x.png" alt="image 29">
                  </div>
                </div>
            </div>
            <div class="col-sm-12 my-4 aboutUs-partners">
                <div class="about-title">Our Partners</div>
                <div class="arrew-down-next arrew-down-next-90deg">&darr;</div>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="assets/assets/images/Partner-Image.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item active">
                      <img src="assets/assets/images/Partner-Image.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item active">
                      <img src="assets/images/Partner-Image.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item active">
                      <img src="assets/images/Partner-Image.png" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-icon" aria-hidden="true">&lang;</span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-icon" aria-hidden="true">&rang;</span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            </div>
            <div class="col-sm-12 mt-4 aboutUs-awards">
                <div class="about-title">Certifications & Awards</div>
                <div class="arrew-down-next arrew-down-next-90deg">&darr;</div>
                <div class="aboutUs-awards-section">
                  <div class="aboutUs-awards-section-body">
                    <img src="assets/images/image-23@2x.png"/>
                  </div>
                  <div class="aboutUs-awards-section-body">
                    <img src="assets/images/image-24@2x.png"/>
                  </div>
                  <div class="aboutUs-awards-section-body">
                    <img src="assets/images/image-25@2x.png"/>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      function animate(obj, initVal, lastVal, duration) {
         let startTime = null;

      //get the current timestamp and assign it to the currentTime variable
      let currentTime = Date.now();

      //pass the current timestamp to the step function
      const step = (currentTime ) => {

      //if the start time is null, assign the current time to startTime
      if (!startTime) {
         startTime = currentTime ;
      }

      //calculate the value to be used in calculating the number to be displayed
      const progress = Math.min((currentTime - startTime)/ duration, 1);

      //calculate what to be displayed using the value gotten above
      obj.innerHTML = Math.floor(progress * (lastVal - initVal) + initVal);

      //checking to make sure the counter does not exceed the last value (lastVal)
      if (progress < 1) {
         window.requestAnimationFrame(step);
      } else {
            window.cancelAnimationFrame(window.requestAnimationFrame(step));
         }
      };
      //start animating
         window.requestAnimationFrame(step);
      }
      let text1 = document.getElementById('years-in-business');
      let text2 = document.getElementById('clients');
      let text3 = document.getElementById('projects');
      const load = () => {
         animate(text1, 0, 7, 1000);
         animate(text2, 0, 30, 1000);
         animate(text3, 0, 100, 1000);
      }
   </script>
   
</body>
</html>
<app-footer></app-footer>