<app-header></app-header>
<div class="container-fluid raps-team">    
    <div class="row">
        <div class="col-sm-12 founders">
            <div class="founder-col padding-center">
                <div class="founder-title">Founders behind <span>RAPS Consulting Inc</span></div>
                <div class="arrew-down-next">&rarr;</div>
            </div>
            <div class="founder-col">
                <div class="founder-body">
                    <div class="founder-img">
                     <img src="assets/images/BACK-1.png"/>
                    </div>
                    <div class="founder-description">
                    <div class="founder-description-title">
                        <div class="founder-description-title-name">
                            <span>Sanjeev Chauhan</span>
                        </div>
                        <div class="founder-description-title-designation">
                            <span>Co-Founder & CEO</span>
                        </div>
                    </div>
                    <div class="arrew-down-next founder-arrew">&rarr;</div>
                    </div>
                </div>  
            </div>
            <div class="founder-col">
                <div class="founder-body">
                    <div class="founder-img">
                     <img src="assets/images/BACK-2.png"/>
                    </div>
                    <div class="founder-description">
                    <div class="founder-description-title">
                        <div class="founder-description-title-name">
                            <span>Ritu Chauhan</span>
                        </div>
                        <div class="founder-description-title-designation">
                            <span>Co-Founder & President</span>
                        </div>
                    </div>
                    <div class="arrew-down-next founder-arrew">&rarr;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 leaders">
            <div class="raps-team-title">Leaders</div>
            <div class="arrew-down-next teams-arrew">&rarr;</div>
            <div class="emp-profile">
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Ruby Barbhuiya</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>V.P. HR & Operations / BUH-Healthcare<br/> & Non-IT</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Anurag Singh</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Sr. Program Manager</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Manish Kumar</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Sr. Global Finance Admin Manager</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Raga Velayudhaperumal</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Account Manager / Delivery Manager</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Smriti Telaprolu</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>IT Business Unit Head -India</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 corporate">
            <div class="raps-team-title">Corporate Staff</div>
            <div class="arrew-down-next teams-arrew">&rarr;</div>
            <div class="emp-profile">
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Nisha Chauhan</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Sr. Accountant (India).</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Anup Kumar</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Sr. Accountant (US)</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Ferdousi Barbhuiya</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>HR & Admin Executive (India Operations).</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Jyoti Pal</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>HRBP-US</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Ranjeet Kumar</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Systems Administrator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 managed-services">
            <div class="raps-team-title">Managed Services</div>
            <div class="arrew-down-next teams-arrew">&rarr;</div>
            <div class="emp-profile">
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Raj Sharma</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Solutions Architect</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Surendra Parashar</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Solutions Architect</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Ramya Vivek</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Team Lead</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Amit Deshpande</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>.Net Developer</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Ganesh Patil</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>.Net Developer</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Tej Prakash</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>.Net Developer</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Durgesh Rai</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>.Net Developer</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Ramakrishna Ajay Gandhi</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>.Net Developer</span>
                        </div>
                    </div>
                </div>
                
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Rajan Singh</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>.Net Developer</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Abhishek Dhingra</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span> Associate .Net Developer</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Rahul Sharma</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>SEO Specialist</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Snehal Salunkhe</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>BA/QA</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Purushottam Suwarnkar</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Automation Test Engineer</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Shivangi Singh</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>QA Tester</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Abhishek Kumar</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>UI/UX/Web developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 staffing-services-it-USA">
            <div class="raps-team-title">Staffing Services IT USA</div>
            <div class="arrew-down-next teams-arrew">&rarr;</div>
            <div class="emp-profile">
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Randhir Barnwal</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Team Lead</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Ram Salendra</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Sr. IT Recruiter</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Rishabh Goyal</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>IT Recruiter</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Om Gupta</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>IT Recruiter</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Riyaz Mohammad</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>IT Recruiter</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-12 staffing-services-it-india">
            <div class="raps-team-title">Staffing Services IT India</div>
            <div class="arrew-down-next teams-arrew">&rarr;</div>
            <div class="emp-profile">
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Shruti Bansal</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>IT India Recruiter</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Harshdev Singh</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>IT India Recruiter</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Diksha Goel</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>IT India Recruiter</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Nirmala Verma</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Corporate Recruiter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 non-it-healthcare-us">
            <div class="raps-team-title">Non IT & Healthcare US</div>
            <div class="arrew-down-next teams-arrew">&rarr;</div>
            <div class="emp-profile">
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Tripti Shukla</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Team Lead</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Kunal Dwivedi</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Healthcare Recruiter</span>
                        </div>
                    </div>
                </div>
                <div class="emp-profile-body">
                    <div class="emp-img">
                        <img src="assets/images/DummyImage.png"/>
                    </div>
                    <div class="emp-designation">
                        <div class="emp-description-title-name">
                            <span>Rajat Sharma</span>
                        </div>
                        <div class="emp-description-title-designation">
                            <span>Healthcare Recruiter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>