<div class="container">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

<!-- <div class="container">
<div class="header">
<div class="navbar montserrat-normal-black-14px">
   <img class="image-27" src="../assets/img/image-27.png" alt="image 27" />
  
     <div class="navbar-link"><a routerLink="/content" >Home</a></div>
     
  
   <div class="navbar-link-about-us"><button routerLink="/aboutus">About us</button></div>
   <div class="navbar-link-raps-team">Raps Team</div>
   <div class="navbar-link-services navbar-link"><a routerLink="/services">Services</a></div>
   <div class="navbar-link-social-responsibility">Social Responsibility</div>
   <div class="navbar-link-events navbar-link">Events</div>
   <div class="navbar-link-careers navbar-link">Careers</div>
   <div class="navbar-link-blog navbar-link">Blog</div>
   <div class="component-107">
     <div class="group-556">
       <div class="overlap-group">
         <img class="rectangle-305" src="../assets/img/rectangle-305-12x.png" alt="Rectangle 305" />
       </div>
     </div>
   </div>
   <div class="overlap-group-1"><div class="contact-us" ><a routerLink="/contactus">Contact Us</a></div></div>
 </div>
</div>
<div class="content">
   <router-outlet></router-outlet>
</div>
<div class="footer">
   <div  id="footer" class="container-fluid">
      <div class="row firstcol">
        <div id="coumn1" class="d-flex gap-3 flex-column white ">
          <div class="text-white "><h2 class="heading1">Get the latest information </h2><br ><h2 class="heading1">from us</h2></div>
          
      <div class="inputcontainer"> 
        <input type="text" placeholder="Search..">
        <button style="transform: rotate(-46deg);"><i class="bi bi-arrow-right"></i></button>
      </div>
      <div class="social">
        <ul class="listsocial">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">twitter</a></li>
        </ul>
        </div>
        </div>
       <div class="list1 montserrat-regular-normal-white-18px ">
        <ul>
          <li><h3>Quick Links</h3></li>
          <li>Home</li>
          <li>About Us</li>
          <li>Raps Team</li>
          <li>Services</li>
          <li>Social Responsibility</li>
          <li>Events</li>
          <li>Careers</li>
          <li>Blog</li>
          <li>Contact</li>
        </ul>
       </div>
       <div class="list2 montserrat-regular-normal-white-18px">
        <ul>
          <li><h3>Our Services</h3></li>
          <li>It Services</li>
          <li>Staffing Services</li>
      
        </ul>
       </div>
       <div class="group-641-8kHmpC d-flex flex-column">
        <div>
        <div class="letss-connect-pa5NFW">Lets’s connect</div>
        <div class="raps-consulting-inc-pa5NFWraps-consulting-inc montserrat-light-white-20px">Raps Consulting Inc.</div>
        <div class="x1-6094548993-pa5NFW montserrat-light-white-20px">+1 609.454.8993</div>
        </div>
        <div class="salesrapscorpcom-pa5NFW">sales@rapscorp.com</div>
        <p class="rapscorp-2022-all-right-reserved-pa5NFW">
          <span class="span0-89PdF4">Rapscorp</span><span class="span1-89PdF4"> 2022 All Right Reserved.</span>
        </p>
      </div>
      
        
      </div>
    
    </div>
</div>

</div> -->