<div class="container-fluid service-overview">
    <div class="row">
        <div class="col-sm-12 raps-services">
            <div class="services-details">
                <div class="services-details-title">
                    Rapscorp - IT Consulting Service Companies
                </div>
                <div class="services-details-text">
                    <p>
                        There cannot be a cookie-cutter approach to managing projects when project goals, specifications and competency of the team is different and you, as a business, have to do a lot of other stuff, other than just simply investing your time in doing a SWOT analysis of your team. But ,in the absence of a proper system, you cannot identify signals from noise. Through project management services, you can figure out the time, scope and budget by going through a specific design that takes into account the goals, nature of the task, quantifiable results through a predefined process and chances of failure through data analysis. Hence, dramatically improving the rate of the project success.                         
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 services ">
            <div class="services-details">
                <div class="services-details-title">
                    Project Management 
                </div>
                <div class="services-details-text">
                    <p>
                        There cannot be a cookie-cutter approach to managing projects when project goals, specifications and competency of the team is different and you, as a business, have to do a lot of other stuff, other than just simply investing your time in doing a SWOT analysis of your team. But ,in the absence of a proper system, you cannot identify signals from noise. Through project management services, you can figure out the time, scope and budget by going through a specific design that takes into account the goals, nature of the task, quantifiable results through a predefined process and chances of failure through data analysis. Hence, dramatically improving the rate of the project success.                         
                    </p>
                </div>
            </div>
            <div class="service-img">
                <img src="assets/itservicesimg/Project-Management.png"/>
            </div>
        </div>
        <div class="col-sm-12 services-right">
            <div class="service-img">
                <img src="assets/itservicesimg/Business-Analysis.png"/>
            </div>
            <div class="services-details">
                <div class="services-details-title">
                    Business Analysis 
                </div>
                <div class="services-details-text">
                    <p>
                        Businesses face many problems when it comes to delivering plausible outcomes for projects; as a result, it often leads to over-delivery or under delivery. Through business analysis service, a proper flowchart, tables and maps are defined that gives an evaluated approach to project designing and development. In this way, businesses can eliminate risks and validate the ideas that kick off better business planning and help in pre-defining the milestones and deadlines that reduces conflicts and helps in attaining the desired results.                        </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 services ">
            <div class="services-details">
                <div class="services-details-title">
                   Application Development
                </div>
                <div class="services-details-text">
                    <p>
                        There cannot be a cookie-cutter approach to managing projects when project goals, specifications and competency of the team is different and you, as a business, have to do a lot of other stuff, other than just simply investing your time in doing a SWOT analysis of your team. But ,in the absence of a proper system, you cannot identify signals from noise. Through project management services, you can figure out the time, scope and budget by going through a specific design that takes into account the goals, nature of the task, quantifiable results through a predefined process and chances of failure through data analysis. Hence, dramatically improving the rate of the project success.                         
                    </p>
                </div>
            </div>
            <div class="service-img">
                <img src="assets/itservicesimg/Application-Development.png"/>
            </div>
        </div>
        <div class="col-sm-12 services-right">
            <div class="service-img">
                <img src="assets/itservicesimg/UI-UX Design.png"/>
            </div>
            <div class="services-details">
                <div class="services-details-title">
                    UI/UX Design  
                </div>
                <div class="services-details-text">
                    <p>
                        Customers and visitors are more likely to churn out from your business page or website if they find it intricate and non-captivating. However, since most businesses have a different revenue model from which they cannot deviate time and again to focus on pulling customers, a UI/UX design service makes so much sense. UI/UX design providers mix and match art with technology to give a magnetic touch to how visitors and customers interact with your online digital footprint.                     </div>
            </div>
        </div>
        <div class="col-sm-12 services ">
            <div class="services-details">
                <div class="services-details-title">
                    Testing Q/A 
                </div>
                <div class="services-details-text">
                    <p>
                        Time to market a product on multiple digital platforms could be unnecessarily stretched in the absence of a proper testing, quality assurance team. Presence of business risks as evidential in the Web 3.0 markets have raised serious concerns. However, businesses are intertwined between two states (i) Focusing on core business (ii) Evaluating the efficacy of the software. The twin-edged sword requires very careful planning that Testing Q/A services achieve for the business. Experts test software across requirements, safety, and security parameters to quickly adhere to the compliances and hit the market on time.                         </p>
                </div>
            </div>
            <div class="service-img">
                <img src="assets/itservicesimg/Testing.png"/>
            </div>
        </div>
        <div class="col-sm-12 services-right">
            <div class="service-img">
                <img src="assets/itservicesimg/Digital-Marketing.png"/>
            </div>
            <div class="services-details">
                <div class="services-details-title">
                   Digital Marketing
                </div>
                <div class="services-details-text">
                    <p>
                        Businesses face many problems when it comes to delivering plausible outcomes for projects; as a result, it often leads to over-delivery or under delivery. Through business analysis service, a proper flowchart, tables and maps are defined that gives an evaluated approach to project designing and development. In this way, businesses can eliminate risks and validate the ideas that kick off better business planning and help in pre-defining the milestones and deadlines that reduces conflicts and helps in attaining the desired results.                        </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 services">
            <div class="services-details">
                <div class="services-details-title">
                    Cyber Security 
                </div>
                <div class="services-details-text">
                    <p>
                        A bad cyber security system can do irrevocable damage as per statistics where public traded companies face 7.5% decline in their stock prices every year because of cyber attacks. A fully managed cyber security service allows your business to stay safe while you are fully engaging in development and growth tasks. Managed detection, Virtual CISO, and penetration testing ensure your business is well ahead in terms of protecting against cyber snooping and DD-o-S.                         </p>
                </div>
            </div>
            <div class="service-img">
                <img src="assets/itservicesimg/Cyber-Security.png"/>
            </div>
        </div>
        <div class="col-sm-12 services-right">
            <div class="service-img">
                <img src="assets/itservicesimg/Business-Analysis.png"/>
            </div>
            <div class="services-details">
                <div class="services-details-title">
                    IT Infrastructure Services 
                </div>
                <div class="services-details-text">
                    <p>
                        In a fast-paced world where everything’s digital, there’s no way that your business can stick to legacy systems and expect unprecedented results. However, as a business, there are myriad challenges to keep the operations running at par with demand and indulging in configuring and installing IT solutions adds on to the burden. IT infrastructure services that we provide help you to skip that hassle. From modernizing your existing systems to keeping the cost in check, the ever ready IT infrastructure services that include cloud infrastructure managed services, cloud data center, digital workplace, database and services management can fulfill diverse requirements of your business at large.                    </div>
            </div>
        </div>
    </div>
</div>