<div class="container-center-horizontal">
    <form class="rapscorp-landing-2 screen" name="form1" action="form1" method="post">
  
      
      
        
      
            
             <div class=".container-fluid">
               
             
                   
                       <div id="blogCarousel" class="carousel " data-ride="carousel">
   
                          
   
                           <!-- Carousel items -->
                           <div class="carousel-inner">
                           
                               <div class="carousel-item active">
                                 
                                 
                                   
                                   <div class="row">
                                     
                                       <div class="container">
                                           <a href="#">
                                             <div class="group-113-2"><img class="vector-15-4" href="#" src="assets/img/vector-15-10.svg" alt="Vector 15" />
                                               
                                             </div>
                                             
                                             <p class="focused-on-creating montserrat-light-white-56px">
                                              <span class="montserrat-light-white-56px">Focused on</span><span class="span1">&nbsp;</span
                                              ><span class="span2">creating<br />the best experience<br /></span
                                              ><span class="montserrat-light-white-56px">for our clients</span>
                                            </p>
                                            
                                             <div class="read-more-1">Read more</div>
                                               <img src="assets/img/image-36.png" id="kt" alt="Image" style="max-width:155%; height:100%;">
                                           </a>
                                   
                                       
                                         <!-- <a href="#">
                                             <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                         </a> -->
                                         <video width="320" height="240" poster="assets/img/image-36-1.png" controls>
                                           <source src="assets/istockphoto-1462196596-640_adpp_is.mp4" type="video/mp4">
                                           <source src="assets/istockphoto-1462196596-640_adpp_is.mp4" type="video/ogg">
                                           Your browser does not support the video tag.
                                        </video>
                                 
                                       </div>
                                   </div>
                                   <ng-lottie class="spinner" width="400px" [options]="spinner"></ng-lottie>
                                   
                                   <!--.row-->
                               </div>
                              
                               <!--.item-->
                              
                               <div class="carousel-item">
                                   <div class="row">
                                      
                                     <div id="jh" class="col-md-12">
                                       <a href="#">
                                           <img src="assets/img/DSC_8400.JPG" id="kl" alt="Image" style="max-width:100%; height: auto;">
                                       </a>
                                   </div>
                                       
                                   </div>
                                  
                               
                             </div> 
                              
   
                           </div>
                           <!--.carousel-inner-->
                       </div>
                       <!--.Carousel-->
   
                   
               
   </div>
   
           
           
          
        
        
      
      
      <div class="overlap-group15">
     
          <div class="component-132-1"><img class="mask-group-1" src="assets/img/mask-group-2.png" alt="Mask group" /></div>
          
          <ng-lottie class="star" width="500px" [options]="options"></ng-lottie>
            <!-- <div class="rectangle-409"></div>
            <div class="rectangle-412"></div>
            <div class="rectangle-413"></div>
            <div class="rectangle-41"></div>
            <div class="rectangle-41"></div> -->
       
         
        <h1 class="title">About Us</h1>
        <p class="we-are-among-the-bes">
          We are among the best staffing and recruiting companies. Our staffing and recruitment section helps you with
          marketing and analytics to locate people that have a strong cultural fit. This not only increases the
          likelihood of taking positions with the appropriate people for the firm, but it also increases production
          and efficiency for your enterprises. Furthermore, our marketing analytics can help you uncover strong
          applicants even before they become job seekers by merging the natural language processing technology with
          trends across numerous platforms. Our staffing and recruitment division provides in-depth marketing data
          that allows you to identify the tangible and intangible successful features of existing staff and help you
          make an informed decision
        </p>
      </div>
      <div class="flex-row">
        <div class="flex-col-1 flex-col-3">
          <div class="group-110"><img class="vector-15-5" src="assets/img/vector-15-11.svg" alt="Vector 15" /></div>
          <div class="services-we-offer montserrat-medium-white-64px">
            <span class="montserrat-medium-absolute-zero-64px">Services,<br /></span
            ><span class="montserrat-medium-black-64px">We Offer</span>
          </div>
        </div>
        <div class="group-726">
          <div class="overlap-group7">
            <div class="it-services">IT  Services</div>
            <p class="lorem-ipsum-dolor-si montserrat-normal-black-18px">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <div class="flex-row-1">
              <div class="know-mor">Know more</div>
              <div class="group-113"><img class="vector-15" src="assets/img/vector-15-13.svg" alt="Vector 15" /></div>
            </div>
          </div>
        </div>
        <div class="group-container">
          
          <div class="overlap-group8">
            <div class="staffing-services">Staffing  Services</div>
            <p class="lorem-ipsum-dolor-si-1 lorem-ipsum-dolor-si-3 montserrat-normal-black-18px">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <div class="flex-row-2">
              <div class="know-more">Know more</div>
              <div class="group-113"><img class="vector-15" src="assets/img/vector-15-13.svg" alt="Vector 15" /></div>
            </div>
          </div>
        </div>
      </div>
      <ng-lottie [options]="testimonial" class="testimonia" width="400px" ></ng-lottie>
      <div class="overlap-group13">
       
        <img class="image" src="assets/img/-.svg" alt="image" />
        <img class="shadow-testimonials" src="assets/img/shadow---testimonials.svg" alt="Shadow - Testimonials" />
        <p class="what-our-clients-e montserrat-medium-white-64px">
          <span class="montserrat-medium-black-64px">What Our<br /></span
          ><span class="montserrat-medium-absolute-zero-64px">Clients</span
          ><span class="montserrat-medium-black-64px"> &amp; </span
          ><span class="montserrat-medium-absolute-zero-64px">Employees<br /></span
          ><span class="montserrat-medium-black-64px">Say About Us</span>
        </p>
   
        <div class="overlap-group10"><div class="what-employees-say">what Employees say</div></div>
        <div class="overlap-group11"><div class="what-clients-say">what clients say</div></div>
        <div class="component-48">
         <div id="carouselExampleIndicators" class="carousel slide">
           <!-- <div class="carousel-indicators">
             <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
             <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
             <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
           </div> -->
           <div class="carousel-inner">
             <div class="carousel-item active">
               <img src="assets/TestimonialDummy.png" class="d-block w-100" alt="...">
             </div>
             <div class="carousel-item">
               <img src="assets/TestimonialDummy.png" class="d-block w-100" alt="...">
             </div>
            
           </div>
           <button type="submit" id="prev" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
             <span class="fas fa-angle-right"></span>
           </button>
            
           <button type="submit" id="next" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
             <span class="fas fa-angle-left"></span>
           </button>
          
         </div>
        </div>
      </div>
    
      <div id="set_height">
      <div class="flex-row-4">
        <div class="flex-col-2 flex-col-3">
          <div class="your-questions-answered montserrat-medium-white-64px">
            <span class="montserrat-medium-black-64px">Your<br /></span
            ><span class="montserrat-medium-absolute-zero-64px">Questions,<br /></span
            ><span class="montserrat-medium-black-64px">Answered</span>
          </div>
          <p class="cant-find-the-answe">
            Can’t find the answer you’re looking for?<br />Please chat to our friendly team.
          </p>
          <div class="flex-row-5">
            <a href="#" class="get-in-touch">GET IN TOUCH</a>
            <div class="group-730"><img class="vector-15-1" src="assets/img/vector-15-19.svg" alt="Vector 15" /></div>
          </div>
        </div>
        <div class="group-container-1">
          <div class="group-692">
           <p class="how-do-our-clients-choose-us montserrat-semi-bold-black-20px">How do our clients choose us</p>
            <div class="group-691">
              
              <a href="#collapseIndicatorChevron" class="btn visible-xs" id= "toggle-btn" type="button"  data-bs-toggle="collapse" data-target="#toggle-example">
              <!-- <span class="fa fa-angle-up" style="color:black"></span>  -->
              <img class="bottom" id="bottom" src="assets/ExpandCollapse/Expand.png" />
              </a>
             </div>
            

          </div>
          
          
         
          <span id="toggle-example" class="collapse in">
           A Computer Science portal for geeks.
           It contains well written, well thought
           and well explained computer science and
           programming articles, quizzes and ...
          </span>
  

          <div class="group-693">
            <div class="how-do-we-deliver montserrat-semi-bold-black-20px">How do we deliver</div>
           
            <a href="#collapseIndicatorChevron" class="btn visible-xs" id= "toggle-bt1" type="button"  data-bs-toggle="collapse" data-target="#toggle-exampl">
             <!-- <span class="fa fa-angle-up" style="color:black"></span>  -->
             <img class="bottom" id="bottom" src="assets/ExpandCollapse/Expand.png" />
             </a>
            
            
      
          </div>
          <div id="toggle-exampl" class="collapse 1">
           hello guys we are raps
           </div>
          <div class="group-694">
            <p class="how-do-we-check-our-products montserrat-semi-bold-black-20px">How do we check our products</p>
            <div class="group-12">
             <a href="#collapseIndicatorChevron" class="btn visible-xs" id= "toggle-bt2" type="button"  data-bs-toggle="collapse" data-target="#toggle-examp">
               <!-- <span class="fa fa-angle-up" style="color:black"></span>  -->
               <img class="bottom" id="bottom" src="assets/ExpandCollapse/Expand.png" />
               </a>
            </div>
            
          </div>
          <div id="toggle-examp" class="collapse in">
           A Computer Science portal for geeks.
           It contains well written, well thought
           and well explained computer science and
           programming articles, quizzes and ...
       </div>
          <div class="group-695">
            <p class="what-is-our-recruitment-process montserrat-semi-bold-black-20px">
              What is our recruitment process
            </p>
            <div class="group-129">
             <a href="#collapseIndicatorChevron" class="btn visible-xs" id= "toggle-bt3" type="button"  data-bs-toggle="collapse" data-target="#toggle-exam">
               <!-- <span class="fa fa-angle-up" style="color:black"></span>  -->
               <img class="bottom" id="bottom" src="assets/ExpandCollapse/Expand.png" />
               </a>
            </div>
          </div>
          <div id="toggle-exam" class="collapse in">
           A Computer Science portal for geeks.
           It contains well written, well thought
           and well explained computer science and
           programming articles, quizzes and ...
       </div>
        </div>
      </div>
      </div>
      
    </form>
  </div>