

    <div class="overlap-group18">
        <div class="flex-col-3 flex-col-4">
          <p class="get-the-latest-information-from-us">
            <span class="montserrat-medium-white-34px">Get the </span
            ><span class="span-1">latest information<br /></span
            ><span class="montserrat-medium-white-34px">from us</span>
          </p>
          <div class="overlap-group22">
            <input
              class="email-address"
              name="emailaddress"
              placeholder="enter email address"
              type="email"
              required=""
            /><a href="javascript:SubmitForm('form1')" class="align-self-flex-end"
              ><div class="group-730">
                <img class="vector-15-4" src="vector-15-8.svg" alt="Vector 15" /></div
            ></a>
          </div>
          <div class="component-container-1">
            <article class="component-1">
              <div class="overlap-group-4">
                <div class="facebook montserrat-normal-white-10-4px">Facebook</div>
              </div>
            </article>
            <article class="component-1">
              <div class="overlap-group-5">
                <div class="facebook-1 facebook-4 montserrat-normal-white-10-4px">
                  Linkedin
                </div>
              </div>
            </article>
            <article class="component-1">
              <div class="overlap-group-6">
                <div class="facebook-2 facebook-4 montserrat-normal-white-10-4px">
                  Instagram
                </div>
              </div>
            </article>
            <article class="component-1">
              <div class="overlap-group-7">
                <div class="facebook-3 facebook-4 montserrat-normal-white-10-4px">
                  Twitter
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="group-752">
          <div class="quick-links montserrat-medium-white-18px">Quick Links</div>
          <div class="place montserrat-normal-white-14px">Home</div>
          <div class="about-us-2 about-us-3 montserrat-normal-white-14px">
            About Us
          </div>
          <div class="raps-team montserrat-normal-white-14px">Raps Team</div>
          <div class="services montserrat-normal-white-14px">Services</div>
          <div class="social-responsibility montserrat-normal-white-14px">
            Social Responsibility
          </div>
          <div class="events montserrat-normal-white-14px">Events</div>
          <div class="careers montserrat-normal-white-14px">Careers</div>
          <div class="blog montserrat-normal-white-14px">Blog</div>
          <div class="place-1 montserrat-normal-white-14px">Contact</div>
        </div>
        <div class="group-731">
          <div class="our-services our montserrat-medium-white-18px">
            Our Services
          </div>
          <div class="it-services montserrat-normal-white-14px">IT Services</div>
          <div class="staffing-services montserrat-normal-white-14px">
            Staffing Services
          </div>
        </div>
        <div class="overlap-group15">
          <div class="group-641">
            <div class="letss-connect">Lets’s connect</div>
            <div class="raps-consulting-inc-1 montserrat-light-white-20px">
              Raps Consulting Inc.
            </div>
            <div class="phone montserrat-light-white-20px">+1 609.454.8993</div>
            <div class="salesrapscorpcom">sales@rapscorp.com</div>
            <p class="rapscorp-2022-all-right-reserved">
              <span class="span-1">Rapscorp</span
              ><span class="span1-4"> 2022 All Right Reserved.</span>
            </p>
          </div>
          <p class="address montserrat-light-white-20px">
            505 Thornall Street<br />Suite# 202<br />Edison, NJ - 08837, USA
          </p>
        </div>
      </div>
      




