<div  id="footer" class="container-fluid">
  <div class="row firstcol">
    <div id="coumn1" class="d-flex gap-3 flex-column white ">
      <div class="text-white heading1">Get the latest information <br/>from us</div>
  <div class="inputcontainer"> 
    <input type="text" placeholder="enter email address">
    <button style="transform: rotate(-46deg);"><i class="bi bi-arrow-right"></i></button>
  </div>
  <div class="social">
    <ul class="listsocial">
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Linkedin</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">twitter</a></li>
    </ul>
    </div>
    </div>
   <div class="list1 montserrat-regular-normal-white-18px ">
    <h3>Quick Links</h3>
    <ul>
      <li>Home</li>
      <li>About Us</li>
      <li>Raps Team</li>
      <li>Services</li>
      <li>Social Responsibility</li>
      <li>Events</li>
      <li>Careers</li>
      <li>Blog</li>
      <li>Contact</li>
    </ul>
   </div>
   <div class="list2 montserrat-regular-normal-white-18px">
    <h3>Our Services</h3>
    <ul>
      <li>It Services</li>
      <li>Staffing Services</li>
    </ul>
   </div>
   <div class="group-641-8kHmpC d-flex flex-column">
    <div>
    <div class="letss-connect-pa5NFW">Lets’s connect</div>
    <div class="montserrat-light-white-20px">Raps Consulting Inc.</div>
  </div>
    <div class="x1-6094548993-pa5NFW montserrat-light-white-20px">+1 609.454.8993</div>
    <div class="salesrapscorpcom-pa5NFW">sales@rapscorp.com</div>
    <p class="x505-thornall-street-LZ5AZ7 montserrat-light-white-20px">
      505 Thornall Street<br>Suite# 202<br>Edison, NJ - 08837, USA
    </p>
    <p class="rapscorp-2022-all-right-reserved-pa5NFW">
      <span class="span0-89PdF4">Rapscorp</span><span class="span1-89PdF4"> 2022 All Right Reserved.</span>
    </p>
  </div>
  
    
  </div>

</div>